.App {
  text-align: center;
}

nav{
  /* display: flex;
  justify-content: space-around; */
  /* align-items: center; */
  min-height: 10vh;
  width: 20%;
  background: rgb(48, 199, 186);
  color:blue;
}
li{
  width: 100px;
}
/* 
.nav-link{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  color: black;
} */



/* .row{
  display: flex;
  align-items: center;
} */